# Configure npm to use the public registry
registry=https://registry.npmjs.org/

# Save exact versions of packages
save-exact=true

# Set the package-lock to version 2
package-lock=true
package-lock-only=false
